<h1>Lista Tipos de Usu&aacute;rio</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usertypes.each do |usertype| %>
  <tr>
    <td><%= usertype.nome %></td>
    <td><%= link_to 'Mostrar', usertype %></td>
    <td><%= link_to 'Editar', edit_usertype_path(usertype) %></td>
    <td><%= link_to 'Apagar', usertype, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Tipo de Usuário', new_usertype_path %>
