<h1>Listing usertypes</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usertypes.each do |usertype| %>
  <tr>
    <td><%= usertype.nome %></td>
    <td><%= link_to 'Show', usertype %></td>
    <td><%= link_to 'Edit', edit_usertype_path(usertype) %></td>
    <td><%= link_to 'Destroy', usertype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Usertype', new_usertype_path %>
