<h1>Lista de Status</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @statuses.each do |status| %>
  <tr>
    <td><%= status.nome %></td>
    <td><%= link_to 'Mostrar', status %></td>
    <td><%= link_to 'Editar', edit_status_path(status) %></td>
    <td><%= link_to 'Apagar', status, method: :delete, data: { confirm: 'Voc&ecirc; tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Status', new_status_path %>
