<h1>Lista Sistemas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Key</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sistemas.each do |sistema| %>
  <tr>
    <td><%= sistema.nome %></td>
    <td><%= sistema.key %></td>
    <td><%= link_to 'Mostrar', sistema %></td>
    <td><%= link_to 'Editar', edit_sistema_path(sistema) %></td>
    <td><%= link_to 'Apagar', sistema, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Sistema', new_sistema_path %>
