<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @sistema.nome %>
</p>

<p>
  <b>Key:</b>
  <%= @sistema.key %>
</p>


<%= link_to 'Editar', edit_sistema_path(@sistema) %> |
<%= link_to 'Voltar', sistemas_path %>
