<% if @_current_user != nil %>
                  <ul class="vmenu">
                    <li>
                      <%= link_to "Home", home_index_path %>
                    </li>
                    <li>
                      <%= link_to "Alterar Cadastro", edit_user_path(@_current_user.id ) %>
                    </li>
                    <li>
                      <%= link_to "Excluir Cadastro", user_path(0), method: :delete, data: { confirm: 'Desativar cadastro?' } %>
                    </li>
                    <li>
                      <%= link_to "Users", users_path %>
                    </li>
                    <li>
                      <%= link_to "Alterar Usuario", users_alter_path %>
                    </li>
                    <li>
                      <%= link_to "Listar Log", log_gerals_path %>
                    </li>
                    <li>
                      <%= link_to "Criar Sistema", new_sistema_path %>
                    </li>
                    <li>
                      <%= link_to "UserTypes", usertypes_path %>
                    </li>
                    <li>
                      <%= link_to "Status", statuses_path %>
                    </li>
                    <li>
                      <%= link_to "TipoLog", tipologs_path %>
                    </li>
                    <li>
                      <%= link_to "Logout", login_path(0), method: :delete, data: { confirm: 'Deslogar?' } %>
                    </li>
                  </ul>
                  <!--%= @_current_user.id %-->
<% end %>