<% if @_current_user != nil %>
                  <ul class="vmenu">
                    <li>
                      <%= link_to "Início", home_index_path %>
                    </li>
                    <li>
                      <%= link_to "Alterar Cadastro", edit_user_path(@_current_user.id ) %>
                    </li>
                    <li>
                      <%= link_to "Excluir Cadastro", user_path(0), method: :delete, data: { confirm: 'Desativar cadastro?' } %>
                    </li>
                    <li>
                      <%= link_to "Usuários", users_path %>
                    </li>
                    <li>
                      <%= link_to "Alterar Usuário", users_alter_path %>
                    </li>
                    <li>
                      <%= link_to "Listar Log", log_gerals_path %>
                    </li>
                    <li>
                      <%= link_to "Bloquear Usuario", users_bloqueio_path %>
                    </li>
                    <li>
                      <%= link_to "Desbloquear Usuario", users_desbloqueio_path %>
                    </li>
                    <li>
                      <%= link_to "Criar Sistema", new_sistema_path %>
                    </li>
                    <li>
                      <%= link_to "Relatorios", users_relatorio_path %>
                    </li>
                    <li>
                      <%= link_to "Tipos de Usuários", usertypes_path %>
                    </li>
                    <li>
                      <%= link_to "Status", statuses_path %>
                    </li>
                    <li>
                      <%= link_to "Tipo Log", tipologs_path %>
                    </li>
                    <li>
                      <%= link_to "Sair", login_path(0), method: :delete, data: { confirm: 'Deslogar?' } %>
                    </li>
                  </ul>
                  <!--%= @_current_user.id %-->
<% end %>