                    <li>
                      <%= link_to "Home", home_index_path %>
                    </li>
                    <li>
                      <%= link_to "Users", users_path %>
                    </li>
                    <li>
                      <%= link_to "UserTypes", usertypes_path %>
                    </li>
                    <li>
                      <%= link_to "Status", statuses_path %>
                    </li>
                    <li>
                      <%= link_to "TipoLog", tipologs_path %>
                    </li>
                    <li>
                      <%= link_to "Logout", new_login_path %>
                    </li>
                    <!--%= @_current_user.id %-->