<h1>Lista Logins</h1>

<table>
  <tr>
    <th>CPF</th>
    <th>Senha</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @logins.each do |login| %>
  <tr>
    <td><%= login.cpf %></td>
    <td><%= login.senha %></td>
    <td><%= link_to 'Mostrar', login %></td>
    <td><%= link_to 'Editar', edit_login_path(login) %></td>
    <td><%= link_to 'Apagar', login, method: :delete, data: { confirm: 'Voc&ecirc; tem certeza?' } %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'Novo Login', new_login_path %>
