<p id="notice"><%= notice %></p>

<p>
  <b>CPF:</b>
  <%= @login.cpf %>
</p>

<p>
  <b>Senha:</b>
  <%= @login.senha %>
</p>


<%= link_to 'Editar', edit_login_path(@login) %> |
<%= link_to 'Voltar', logins_path %>
