<h1>Lista Tipos de Log</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipologs.each do |tipolog| %>
  <tr>
    <td><%= tipolog.nome %></td>
    <td><%= link_to 'Mostrar', tipolog %></td>
    <td><%= link_to 'Editar', edit_tipolog_path(tipolog) %></td>
    <td><%= link_to 'Apagar', tipolog, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Tipo de Log', new_tipolog_path %>
