<%= form_for(@log_geral) do |f| %>
  <% if @log_geral.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log_geral.errors.count, "error") %> prohibited this log_geral from being saved:</h2>

      <ul>
      <% @log_geral.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br />
    <%= f.datetime_select :data %>
  </div>
  <div class="field">
    <%= f.label :sistema %><br />
    <%= f.number_field :sistema %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.number_field :user %>
  </div>
  <div class="field">
    <%= f.label :tipolog %><br />
    <%= f.number_field :tipolog %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
