<h1>Listing log_gerals</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Sistema</th>
    <th>User</th>
    <th>Tipolog</th>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @log_gerals.each do |log_geral| %>
  <tr>
    <td><%= log_geral.data %></td>
    <td><%= log_geral.sistema %></td>
    <td><%= log_geral.user %></td>
    <td><%= log_geral.tipolog %></td>
    <td><%= log_geral.desc %></td>
    <td><%= link_to 'Show', log_geral %></td>
    <td><%= link_to 'Edit', edit_log_geral_path(log_geral) %></td>
    <td><%= link_to 'Destroy', log_geral, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Log geral', new_log_geral_path %>
