<h1>Lista Log Gerais</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Sistema</th>
    <th>User</th>
    <th>Tipo Log</th>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @log_gerals.each do |log_geral| %>
  <tr>
    <td><%= log_geral.data %></td>
    <td><%= log_geral.sistema %></td>
    <td><%= log_geral.user %></td>
    <td><%= log_geral.tipolog %></td>
    <td><%= log_geral.desc %></td>
    <td><%= link_to 'Mostrar', log_geral %></td>
    <td><%= link_to 'Editar', edit_log_geral_path(log_geral) %></td>
    <td><%= link_to 'Apagar', log_geral, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Log Geral', new_log_geral_path %>
